.main-btn{
  border: none;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #fff;
  background: #fe470a;
  border-radius: 10px;
  font-weight: 500;
}
.logo{
  font-weight: 700;
  color: #222222;
}
.logo::first-letter{
  color: #fe470a;
  font-size: 3.2rem;
}